<!-- Блок ввода имени пользователя -->
<script type="text/template" id="login">
    <div class="container">
        <div class="form-group col-md-offset-4 col-md-4">
            <input class="js-username form-control" type="email" placeholder="Логин" id="username" required autofocus />
            <label for="username"></label>
            <input class="js-password form-control" type="password" placeholder="Пароль" id="password" required />
            <label for="password"></label><br>
            <input type="button" class="btn btn-primary" value="Войти" />
        </div>
    </div>
</script>